[submodule "sketch2vid/rife"]
	path = sketch2vid/rife
	url = https://github.com/rohandkn/frame-interop.git
[submodule "sketch2vid/vid2vid"]
	path = sketch2vid/vid2vid
	url = https://github.com/rohandkn/skribble-to-vid.git
[submodule "sketch2vid/ECCV2022-RIFE"]
	path = sketch2vid/ECCV2022-RIFE
	url = https://github.com/megvii-research/ECCV2022-RIFE
[submodule "sketch2vid/arXiv2020-RIFE"]
	path = sketch2vid/arXiv2020-RIFE
	url = https://github.com/hzwer/arXiv2020-RIFE
